<form id="RegisterForm" class="shadow p-3" method="POST">
    <div class="form-group">
        <label for="InputUsername">User name</label>
        <input type="text" class="form-control" id="InputUsername" name="username" placeholder="Enter user name">
    </div>
    <div class="form-group">
        <label for="InputEmail">Email address</label>
        <input type="email" class="form-control" id="InputEmail" name="email" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="txtConfirm">Confirm Password</label>
        <input type="password" class="form-control" id="txtConfirm" name="confirm">
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary w-50">Register</button>
    </div>
    <div class="text-center p-3">
        <a href="/users/login" class="btn btn-success">Login</a>
    </div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    $(function () {
        $('#RegisterForm').validate({
            rules: {
                username: {
                    required: true,
                    remote: {
                        url: '/users/is-available'
                    }
                },
                password: {
                    required: true,
                    minlength: 6
                },
                Fullname: {
                    required: true,
                },
                confirm: {
                    required: true,
                    equalTo: $('[name="password"]')
                },
                email: {
                    required: true,
                    email: true
                },
            },
            messages: {
                username: {
                    required: 'Your username is required.',
                    remote: 'Your username has been taken, please take another.'
                },
                password: {
                    required: 'Your password is required.',
                    minlength: 'Your password must have at least 6 characters.'
                },
                confirm: {
                    required: 'Your password does not match.',
                    equalTo: 'Your password does not match.'
                },
                email: {
                    required: 'Please enter a valid email address.',
                    email: 'Please enter a valid email address.'
                },
                Fullname: {
                    required: 'Valid full name is required.',
                },
            },
            errorElement: 'small',
            errorClass: 'form-text text-danger',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            }
        });
    })
</script>