.imgbox {
  display: grid;
  width: 100%;
  height: 100%;
}
.center-fit {
  min-width: 100%;
  min-height: 100%;
  margin: auto;
  position: absolute;
  z-index: 0;
}
.Center_Box {
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  z-index: 1;
  left: 37.5%;
}

