.content {
  width: 60%;
  margin: auto;
  margin-top: 30px;
}
.Cover {
  height: 250px;
  margin: 10px;
}
.Info-wrap {
  margin: 10px;
}
.Description {
  width: 80%;
}

.Review {
  width: 90%;
}

.Text-Truncate {
  max-height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Recomendation {
  margin-top: 30px;
  float: right;
  height: 560px;
  width: 200px;
}

.About {
  margin-top: 30px;
  float: left;
  height: 450px;
  width: 200px;
}

.Author-Pic {
  height: 182px;
}

.Up {
  width: 40px;
  height: 26px;

  text-align: center;
  line-height: 10px;
}

.Up i {
  font-size: 13pt;
}

.Cover-Recomendation {
  height: 200px;
  margin: 10px;
}

.Recomendation-List {
  max-height: 465px;
  overflow: hidden;
}
.Seller {
  font-size: 13pt;
  line-height: 1.3;
}


.bg-4 { 
  background-color: #2f2f2f;
  color: #fff;
}

.container-fluid {
  padding-top: 20px;
  padding-bottom: 10px;
}

/* Use this if there are lots of content
footer {
  clear: both;
  position: relative;
} */

/*Use this if there's no more content to be added
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
*/

footer {
  clear: both;
  position: relative;
} 

.reviews {
  font-weight: 700;
  font-size: xx-large;
  margin-bottom: -5;
}