<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid row">
        <div class="col-1">
            <div class="sidebar-header">
                <button type="button" id="sidebarCollapse" class="btn btn-light" style="left: -1px">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </div>
        <div class="col-7">
            <p class="navbar-brand pt-3">Home</p>
        </div>
        <form class="form-inline mr-3 col-3">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                    aria-describedby="addon-wrapping">
            </div>
        </form>
        <form action="/users/logout" method="POST">
            <button class="btn btn-secondary btn-small" type="submit">Sign out</button>
        </form>
        <form id="frmSignout" action="/users/logout" ></form>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <li class="nav-item text-nowrap">
                <form action="/users/logout">
                    <button class="nav-link" type="submit">Sign out</button>
                </form>
            </li>
        </div>
    </div>
</nav>